[user]
   name = Kevin Muncie
   email = kevin@kmuncie.com
   signingkey = 0xC37CD320884F61A9
[alias]
   lg = log -20 --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
   lgl = log --graph --stat --abbrev-commit --decorate --format=format:'%C(bold yellow)%h%C(reset) - %C(bold green)%ar%C(reset)%C(dim green) by %C(reset)%C(bold white)%an%C(reset)%C(dim green) on %aD%C(reset)%C(bold yellow)%d%C(reset)%n''%C(white)%s%C(reset)%n' --all
   f = fetch --all --prune
   ff = pull --ff-only
   st = status -sb
   sw = switch
   co = checkout
   d = diff
   ai = add --interactive
   aa = add --all
   c = commit
   # Rebase off common ancestor https://github.com/silvermine/silvermine-info/blob/master/commit-history.md
   rca = !git rebase -i $(git merge-base origin/master HEAD) --autosquash
   # Show all local branches
   brd = "! f() { for k in $(git branch $@ | sed 's/^..//; s/ .*//'); do echo "$(git log -1 --pretty='%Cgreen%ci %Cblue(%cr)%Creset ' $k) $k" ; done | sort -r; }; f"
   # List all aliases
   la = "!git config -l | grep alias | cut -c 7-"

[color "status"]
   added = green
   changed = red
   untracked = cyan

[merge]
   conflictstyle = diff3

[diff]
   colorMoved = default
   # Tried using histogram but was confusing, try again another time
   # algorithm = histogram

[core]
   # This uses package https://github.com/dandavison/delta
   pager = delta

[interactive]
   diffFilter = delta --color-only --features=interactive

[delta]
   features = woolly-mammoth decorations
   navigate = true  # use n and N to move between diff sections
   side-by-side = true
   line-numbers = true

[delta "interactive"]
   keep-plus-minus-markers = false

[delta "decorations"]
   commit-decoration-style = blue ol
   commit-style = raw
   file-style = omit
   hunk-header-decoration-style = blue box
   hunk-header-file-style = red
   hunk-header-line-number-style = "#067a00"
   hunk-header-style = file line-number syntax

[include]
   path = ~/dotfiles/themes.gitconfig

[commit]
   gpgsign = true
[tag]
   gpgSign = true
